<html>
  <head>
    <title>Kokonatsu Macros</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="row" align = "center">
      <h1>Kokonatsu Macros</h1>
    </div>

<button type="button" class="btn btn-default" onclick="window.location.href = '/login'"> Login </button>

  </body>
</html>